*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(#84A5FA, #e6edff, white);
}

.sidebar{
    background: linear-gradient(#0B142E, #183FA3);
    height: 100vh;
    width: 275px;
    border-top-right-radius: 30px;
}

.header-sidebar{
    background-color: #050b1a;
    height: 50px;
    color: white;
    padding-left: 55px;
    padding-top: 14px;
    font-size: 25px;
    background-image: url(logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 220px;
}

.sidebar-content{
    margin: 20px 25px;
}

.p1{
    margin-bottom: 27px;
    background-color: #183FA3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-content :hover{
    background-color: #183FA3;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.siswadata{
    float: right;
    top: 20%;
    left: 30%;
    position: absolute;
    background-color: #0F2458;
    padding: 25px;
    border-radius: 25px;
    padding-bottom: 35px;
    box-shadow: 0 0 10px black;
}

.siswadata h2{
    color: white;
}

.datas{
    margin-top: 20px;
    text-align: center;
    border-spacing: 0;
    box-shadow: 0 0 7px;
}

th{
    background-color: #183FA3;
    height: 31px;
}

.th1{
    width: 100px;
    color: white;
}

.th2{
    width: 250px;
    color: white;
}

.th3{
    width: 120px;
    color: white;
}

.th4{
    width: 150px;
    color: white;
}

.th5{
    width: 150px;
    color: white;
}

td a{
    color: white;
    padding: 6px;
}

td{
    height: 35px;
    background-color: white;
}

.siswaedit{
    background-color: #0d5c21;
    border-radius: 7px;
}

.siswahapus{
    background-color: #5c0d0d;
    border-radius: 7px;
}

button{
    background-color: white;
    width: 100px;
    height: 30px;
    color: #183FA3;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
}

.savedata{
    float: right;
    top: 18%;
    left: 32%;
    position: absolute;
    background-color: #0F2458;
    color: white;
    padding: 25px;
    padding-bottom: 70px;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
}

.editsiswa{
    float: right;
    top: 22%;
    left: 32%;
    position: absolute;
    background-color: #0F2458;
    color: white;
    padding: 25px;
    border-radius: 25px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px black;
}

.tabeditsiswa{
    margin-top: 25px;
}

.tabeditsiswa td{
    background-color: #0F2458;
    width: 150px;
    padding-bottom: 20px;
}

input{
    width: 550px;
    height: 25px;
}

.submit{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
    background-color: white;
    border-radius: 7px;
    border: none;
}

.savesiswa{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
    position: absolute;
    margin-top: 265px;
    background-color: white;
    border-radius: 7px;
    border: none;
}

.tabsavesiswa td{
    background-color: #0F2458;
    width: 150px;
    padding-bottom: 20px;
    color: white;
}

.tabsavesiswa{
    margin-top: 30px;
}
