*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(#84A5FA, #e6edff, white);
}

.sidebar{
    background: linear-gradient(#0B142E, #183FA3);
    height: 100vh;
    width: 275px;
    border-top-right-radius: 30px;
}

.header-sidebar{
    background-color: #050b1a;
    height: 50px;
    color: white;
    padding-left: 55px;
    padding-top: 14px;
    font-size: 25px;
    background-image: url(logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 220px;
}

.sidebar-content{
    margin: 20px 25px;
}

.p1{
    margin-bottom: 27px;
}

.p2{
    background-color: #183FA3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-content :hover{
    background-color: #183FA3;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.barangdata{
    float: right;
    top: 20%;
    left: 25%;
    position: absolute;
    background-color: #0F2458;
    padding: 25px;
    border-radius: 25px;
    padding-bottom: 35px;
    box-shadow: 0 0 10px black;
}

.barangdata h2{
    color: white;
}

.datab{
    margin-top: 20px;
    text-align: center;
    border-spacing: 0;
    box-shadow: 0 0 7px;
}

th{
    background-color: #183FA3;
    height: 31px;
}

td{
    height: 35px;
    background-color: white;
}

td a{
    color: white;
    padding: 6px;
}

.barangedit{
    background-color: #0d5c21;
    border-radius: 7px;
}

.baranghapus{
    background-color: #5c0d0d;
    border-radius: 7px;
}

button{
    background-color: white;
    width: 100px;
    height: 30px;
    color: #183FA3;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
}

.thb1{
    width: 110px;
    color: white;
}

.thb2{
    width: 150px;
    color: white;
}

.thb3{
    width: 155px;
    color: white;
}

.thb4{
    width: 190px;
    color: white;
}

.thb5{
    width: 150px;
    color: white;
}

.thb6{
    width: 150px;
    color: white;
}

.editbarang{
    float: right;
    top: 17%;
    left: 31%;
    position: absolute;
    background-color: #0F2458;
    color: white;
    padding: 25px;
    border-radius: 25px;
    padding-bottom: 35px;
    box-shadow: 0 0 10px black;
}

.tabeditbarang td{
    background-color: #0F2458;
    width: 190px;
    padding-bottom: 20px;
}

.tabeditbarang{
    margin-top: 25px;
}

input{
    width: 550px;
    height: 25px;
}

.submit{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
    background-color: white;
    border-radius: 7px;
    border: none;
}

.savebarang{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
    position: absolute;
    margin-top: 20px;
    background-color: white;
    border-radius: 7px;
    border: none;
}

.savedata{
    float: right;
    top: 12%;
    left: 31%;
    position: absolute;
    background-color: #0F2458;
    padding: 25px;
    border-radius: 25px;
    padding-bottom: 85px;
    color: white;
    box-shadow: 0 0 10px black;
}

.tabsavebarang td{
    background-color: #0F2458;
    width: 170px;
    padding-bottom: 20px;
    color: white;
}

.tabsavebarang{
    margin-top: 30px;
}