*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    background-color: #84A5FA;
}

.sidebar{
    background-color: #0F2458;
    height: 100vh;
    width: 275px;
}

.header-sidebar{
    background-color: #0B142E;
    height: 50px;
    color: white;
    padding-left: 55px;
    padding-top: 14px;
    font-size: 25px;
    background-image: url(logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    width: 220px;
}

.sidebar-content{
    margin: 20px 25px;
}

.p1{
    margin-bottom: 18px;
}

.sidebar-content :hover{
    background-color: #183FA3;
    transition: 0.3s ease-in-out;
}

.barangdata{
    float: right;
    top: 3%;
    left: 23%;
    position: absolute;
}

th{
    background-color: #D9D9D9;
    height: 31px;
}

td{
    height: 35px;
    background-color: white;
}

td a{
    background-color: #183FA3;
    color: white;
    padding: 5px;
    margin-left: 11px;
}

button{
    background-color: white;
    width: 100px;
    height: 30px;
    color: #183FA3;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 105px;
}

table{
    border-collapse: collapse;
    margin-top: 10px;
}

.thb1{
    width: 110px;
}

.thb2{
    width: 130px;
}

.thb3{
    width: 145px;
}

.thb4{
    width: 160px;
}

.thb5{
    width: 130px;
}

.thb6{
    width: 130px;
}

.editbarang{
    float: right;
    top: 3%;
    left: 23%;
    position: absolute;
}

.tabeditbarang td{
    background-color: #84A5FA;
    width: 190px;
    padding-bottom: 20px;
}

.tabeditbarang{
    margin-top: 155px;
}

input{
    width: 350px;
    height: 25px;
}

.submit{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
}

.savebarang{
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #183FA3;
    position: absolute;
    margin-top: 20px;
}

.savedata{
    float: right;
    top: 3%;
    left: 23%;
    position: absolute;
}

.tabsavebarang td{
    background-color: #84A5FA;
    width: 170px;
    padding-bottom: 20px;
}

.tabsavebarang{
    margin-top: 125px;
}